.square {
  min-height: 3.5rem;
  min-width: 3.5rem;
  max-height: fit-content;
  padding: 0;
  vertical-align: top;
}

.blackSquare {
  min-height: 3.5rem;
  min-width: 3.5rem;
  max-height: fit-content;
  padding: 0;
  vertical-align: top;
  background-color: brown;
}

.blackSquareHighlighted {
  min-height: 3.5rem;
  min-width: 3.5rem;
  max-height: fit-content;
  padding: 0;
  vertical-align: top;
  background-color: rgba(165, 42, 42, 0.418);
}

.whiteSquare {
  min-height: 3.5rem;
  min-width: 3.5rem;
  max-height: fit-content;
  padding: 0;
  vertical-align: top;
  background-color: bisque;
}

.whiteSquareHighlighted {
  min-height: 3.5rem;
  min-width: 3.5rem;
  max-height: fit-content;
  padding: 0;
  vertical-align: top;
  background-color: rgba(165, 42, 42, 0.418);
}

/*
  TODO: fix overflow
*/
.board-row {
  margin: 0;
  overflow: hidden;
}

.container-mega-game-div {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container-mega-game-div {
    width: 100%;
  }
}

.game-board {
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 10vh;
}

.game-info {
  margin: 0 auto;
  width: fit-content;
}
